body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.cursor-pointer {
  cursor: pointer;
  height: 20px;
  &:hover {
    filter: invert(51%) sepia(99%) saturate(3115%) hue-rotate(163deg)
      brightness(97%) contrast(101%);
  }
}
